:root{
    --line: #E9ECEF;
    --border: #343A40;
    --button: #6C757D;
    --button-hover: #CED4DA;
    --button-click: #DEE2E6;
    --background-items: #212529;
    --text: #343A40;
    --text-inside: #ffffff;


    --font: 'mulich', sans-serif;
}

::selection{
    background-color: #F8F9FA;
    color: var(--text);
}

body{
    overflow: hidden;
    background: url(../images/sun-tornado.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container{
    width: 100vw;
    height: 100vh;
    font-family: var(--font);
    color: var(--text);
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    gap: 50px;
}

.cheats{
    display: flex;
    flex-direction: row;
    gap: 50px;
    border: 2px solid var(--border);
    padding: 15px;
}

li.cheats{
    z-index: 999;
}

h2.name{
    border-bottom: 2px solid var(--line);
    font-weight: 600;
}

p{
    text-align: center;
}

.cheats li{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.result{
    font-weight: 600;
}

.button{
    display: flex;
    justify-content: center;
}

.buttons-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#btn{
    background-color: var(--button);
    width: 150px;
    height: 35px;
    color: white;
    font-family: var(--font);
    font-weight: 600;
    border-radius: 5px;
}

#btn:hover{
    background-color: var(--button-hover);
    color: var(--text);
}

#btn:active{
    background-color: var(--button-click);
    color: var(--text);
}

.title-changer{
    position: absolute;
    top: 0;
    right: 0;
    background: var(--background-items);
    padding: 15px 20px;
    border-radius: 15px;
    margin: 16px 16px;
}

.title-changer input[type = text]{
    background-color: #fff;
    color: black;
    margin-right: 20px;
    width: 200px;
    height: 25px;
    padding: 0 15px;
}

.title-changer button{
    background-color: var(--button);
    color: var(--text-inside);
    padding: 5px 10px;
}

.title-changer button:hover{
    background-color: var(--button-hover);
    color: var(--text);
}

.title-changer button:active{
    background-color: var(--button-click);
    color: var(--text);
}

.download{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: var(--title-changer);
    width: 300px;
    height: 60px;
    border-bottom-right-radius: 15px;
}

.download a{
    color: white;
    background-color: var(--button);
    padding: 8px 20px;
}

.download a:hover{
    background-color: var(--button-hover);
    color: var(--text);
}

.download a:active{
    background-color: var(--button-click);
    color: var(--text);
}

.voice_config{
    position: absolute;
    top: 25%;
    left: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.voice_config h1{
    font-size: 30px;
}

.voice_config select{
    color: white;
    background: var(--button);
    padding: 5px;
}

.refreshed-message{
    position: absolute;
    bottom: -100px;
    right: 0;
    margin: 16px 16px;
    transition: 0.5s;
}

.content-message{
    padding: 15px 30px;
    background-color: var(--background-items);
    color: var(--text-inside);
    border-radius: 15px;
}


@media screen and (max-width: 1000px) {

    .title-changer{
        display: none;
    }

    .download{
        display: none;
    }
}

@media screen and (max-width: 435px) {
    .cheats{
        width: 98%;
    }

    .cheats{
        gap: 12%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    h2.name{
        font-size: 24px;
    }

    .refreshed-message{
        width: 80%;
        left: 50%;
        transform: translateX(-50%);
        margin: 0 0 15px 0;
        text-align: center;
        font-size: 15px;
    }
}